<section class=" about container">
  <h1 class="text-center mb-5"></h1>

<h1>
  Muhammad Najam Ul Hassan
</h1>

<h4>
  Website  Developer Angular
</h4>

<p>
  <strong>
     Phone No: 03072284972
  </strong>
</p>

<h1>
  Email: mnajampk2@gmail.com
</h1>

<p>
  if Do you want to make a website then contact me i am web developer i can build any type of website according to your requirement
</p>

   <h1>


            Thanks For Your Visiting Please Visit Again

   </h1>

<br>
<br>

  <div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="https://www.facebook.com/najam.king.54922">Facebook</a>
    <a href="https://www.youtube.com/@najamofficialtech8616">Youtube</a>
    <a href="https://twitter.com/i/flow/login">Twitter</a>
    <a href="https://www.instagram.com/">instagram</a>
    <a href="https://www.linkedin.com/login">Linkdin</a>
  </div>

</section>
