




<section class="home">

  <div class="container">
    <div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-lg p-5 mt-5 mb-5">

        <h4 class="text-danger text-muted"> Welcome Here!</h4>

          <form   class="signup-form">

            <hr>


            <div class="form-group text-center"> <button type="button" class="btn btn-danger text-center btn-block"(click)=" logout()" >LOGOUT</button> </div>
        </form>
    </div>
  </div>
    </div>
  </div>


  <img src="../../assets/back.jpg" alt="">
  <div class="homecontent">






</div>
</section>

<h1>TypeScript for JavaScript Programmers</h1>

<p>
  TypeScript stands in an unusual relationship to JavaScript. TypeScript offers all of JavaScript’s features, and an additional layer on top of these: TypeScript’s type system.</p>

<p>For example, JavaScript provides language primitives like string and number, but it doesn’t check that you’ve consistently assigned these. TypeScript does.</p>
<p>
This means that your existing working JavaScript code is also TypeScript code. The main benefit of TypeScript is that it can highlight unexpected behavior in your code, lowering the chance of bugs.</p>
<p>
This tutorial provides a brief overview of TypeScript, focusing on its type system.
</p>&nbsp;

&nbsp;


<h1>Types by Inference</h1>

<p>
  TypeScript knows the JavaScript language and will generate types for you in many cases. For example in creating a variable and assigning it to a particular value,
   TypeScript will use the value as its type.TypeScript is a syntactic superset of JavaScript which adds static typing. This basically means that TypeScript adds syntax on top of JavaScript, allowing developers to add types. TypeScript being a "Syntactic Superset" means that it shares the same base syntax as JavaScript,
   but adds something to it.
</p>


<p class="new">let helloWorld = "Hello World";

  let helloWorld: string</p>


  <p>
    By understanding how JavaScript works, TypeScript can build a type-system that accepts JavaScript code but has types. This offers a type-system without needing to add extra characters to make types explicit in your code. That’s how TypeScript knows that helloWorld is a string in the above example.

  </p>

  <p>
    You may have written JavaScript in Visual Studio Code, and had editor auto-completion. Visual Studio Code uses TypeScript under the hood to make it easier to work with JavaScript.

  </p>

  <h1>Defining Types</h1>
  <p>
    You can use a wide variety of design patterns in JavaScript. However, some design patterns make it difficult for types to be inferred automatically (for example, patterns that use dynamic programming). To cover these cases, TypeScript supports an extension of the JavaScript language, which offers places for you to tell TypeScript what the types should be.
  </p>

  <p>
    For example, to create an object with an inferred type which includes name: string and id: number, you can write:

  </p>

  <p class="new">
    const user =
    name Hayes,
    id: 0,
  </p>

  <p>
    You can explicitly describe this object’s shape using an interface declaration:
  </p>
  <p class="new">
      interface User
      name: string;
      id: number;

  </p>

  <p>
    You can then declare that a JavaScript object conforms to the shape of your new interface by using syntax like : TypeName after a variable declaration:
  </p>

  <p class="new">


    const user: User =
      name "Hayes",
      id: 0,

  </p>

  <p>
    Since JavaScript supports classes and object-oriented programming, so does TypeScript. You can use an interface declaration with classes:

  </p>
  <p class="new" >
    interface User
      name: string;
      id: number;


    class UserAccount
      name: string;
      id: number;

      constructor(name: string, id: number)
        this.name = name;
        this.id = id;


    const user: User = new UserAccount("Murphy", 1);


  </p>
<p>
  There is already a small set of primitive types available in JavaScript: boolean, bigint, null, number, string, symbol, and undefined, which you can use in an interface. TypeScript extends this list with a few more, such as any (allow anything), unknown (ensure someone using this type declares what the type is), never (it’s not possible that this type could happen), and void (a function which returns undefined or has no return value)

</p>

<p>
  You’ll see that there are two syntaxes for building types: Interfaces and Types. You should prefer interface. Use type when you need specific features.

</p>




<button type="button" class="btn btn-dark"  routerLink="/contact">  Mores information Contact Us  </button>





<br>

&nbsp;
&nbsp;
 <h1>
    Social Media Contacts
 </h1>
<div class="whatsapp_float">


<a href="https://wa.me/923072284972" target="_blank" ><img src="../../assets/whatsapp.png"  width="100px" class="whatsapp_float_btn"   alt=""  >Whatsapp me</a>

</div>

<div class="messenger_floats"  >
  <a href="https://m.me/glacier.naseeb" target="_blank" ><img src="../../assets/messenger.png"  width="100px"  class="messenger_float"     alt=""  >Messenger </a>
</div>


